.THIS.primary{
    background: #4ECDC4  !important;
}

.THIS.row { 
    background: #fff;
    border-bottom: 2px solid #f0f1f2;
    border-radius: 4px;
    max-width:90%;
    margin-bottom: 10px;
    margin-left: 2%;
    min-height: 70px;
    padding: 10px;
}